* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

button {
  cursor: pointer;
}

button.select {
  background-color: #F89406;
  box-shadow: inset 0px -5px 2px 0px rgb(185, 115, 13)
}

button.select:hover {
  background-color: #F89406;
  box-shadow: inset 0px -5px 2px 0px rgb(185, 115, 13)
}

.container {
  padding: 0 45px;
}

.booking {
  display: grid;
  grid-template-columns: 1fr 200px
}

.grid-places {
  max-width: 500px;
  margin: 25px auto;
  font-size: 1.4rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.places-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.place-item {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: #e8554e;
  box-shadow: inset 0px -5px 2px 0px rgba(152, 6, 6, 0.51);
  border: none;
  border-radius: .2rem;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
}

.place-item:hover {
  background-color: #cf4c45;
}

.booking-controls {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.btn-records {
  background-color: green;
  box-shadow: inset 0px -6px 2px 0px rgb(39, 101, 5);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 18px;
}

.btn-records:hover {
  background-color: #056705;
}

.order-info {
  padding-top: 25px;
}

.order-info .section-content {
  background-color: #cce5ff;
  border-radius: 5px;
  border: 1px solid #b8daff;
  color: #004085;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 15px;
  padding: 15px;
  text-align: left;
  word-wrap: break-word;
}

.section-content {
  list-style-type: none;
}

.section-content .price-item {
  padding: 10px 0;
}

.section-content .places-price {
  font-weight: 600;
}

.section-content .places-price,
.places-quantity {
  animation-duration: .3s;
  animation-fill-mode: both;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    transform: translate2d(0, 0, 0)
  }

  to {
    transform: translate2d(0, 40px, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate2d(0, 0, 0)
  }

  to {
    transform: translate2d(0, 40px, 0);
    opacity: 1
  }
}